div.box, div.cell {
	display: inline-block;

}

.cell input {
	width: 70px;
	height: 70px;

}

#sudoku {
	font-size: 0;
	text-align: center;
}

body {
	text-align: center;
	font-family: Helvetica;
}

.incorrect {
  background-color: yellow;
}

.value-provided {
  background-color: #DFF;
}

#flash {
	margin: 20px;
}

div {
	background-color: #AAACCC;
	border: 1px solid black;
}

h1 {
	font-weight: bolder;
	font-size: 3.5em;
	background-color: #e0feff;
	padding: 0.5em;
	border-radius: 1em;
}

button {
	width: 15em;
	height: 5em;
	border-radius: 1em;
	border-width: 2px;
	border-color: black;
}

